services:
  clashperk_bot:
    image: 432159388664.dkr.ecr.us-east-1.amazonaws.com/clashperk-bot:latest
    restart: always
    container_name: clashperk_bot
    # build:
    #   context: .
    env_file:
      - .env
    mem_limit: 10gb
    ports:
      - '8070:8070'
    healthcheck:
      test: wget -qO - localhost:8070 || exit 1
      interval: 15s
      timeout: 10s
      retries: 120
    networks:
      - default_net

networks:
  default_net:
    external: true
    name: default_net
